.footer {
    font-size: 15px; 
    text-align: center;
    color: hsl(220, 15%, 55%);
    position: relative;
    top: 3rem;
}
.footerAnchor {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    cursor: pointer;
}
.footerAnchorLarge {
    font-size: 1.25rem;
}
.footerAnchorSmall {
    font-size: 0.625rem;
}